<?xml version="1.0"?>
<config>
    <modules>
        <Simi_Simiconnector>
            <version>0.1.0</version>
        </Simi_Simiconnector>
    </modules>
    <frontend>
        <routers>
            <simiconnector>
                <use>standard</use>
                <args>
                    <module>Simi_Simiconnector</module>
                    <frontName>simiconnector</frontName>
                </args>
            </simiconnector>
        </routers>
        <layout>
            <updates>
                <simiconnector>
                    <file>simiconnector.xml</file>
                </simiconnector>
            </updates>
        </layout>
		<translate>
            <modules>
                <Simi_Simiconnector>
                    <files>
                        <default>Simi_Simiconnector.csv</default>
                    </files>
                </Simi_Simiconnector>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
			<simiconnectoradmin>
				<use>admin</use>
				<args>
					<module>Simi_Simiconnector</module>
					<frontName>simiconnectoradmin</frontName>
				</args>
			</simiconnectoradmin>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<simiconnector>
					<file>simiconnector.xml</file>
				</simiconnector>
			</updates>
		</layout>
		<translate>
            <modules>
                <Simi_Simiconnector>
                    <files>
                        <default>Simi_Simiconnector.csv</default>
                    </files>
                </Simi_Simiconnector>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <simiconnector>
                <class>Simi_Simiconnector_Model</class>
                <resourceModel>simiconnector_mysql4</resourceModel>
            </simiconnector>
            <simiconnector_mysql4>
                <class>Simi_Simiconnector_Model_Mysql4</class>
                <entities>
                    <simiconnector>
                        <table>simiconnector</table>
                    </simiconnector>
                </entities>
            </simiconnector_mysql4>
        </models>
        <resources>
            <simiconnector_setup>
                <setup>
                    <module>Simi_Simiconnector</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </simiconnector_setup>
            <simiconnector_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </simiconnector_write>
            <simiconnector_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </simiconnector_read>
        </resources>
        <blocks>
            <simiconnector>
                <class>Simi_Simiconnector_Block</class>
            </simiconnector>
        </blocks>
        <helpers>
            <simiconnector>
                <class>Simi_Simiconnector_Helper</class>
            </simiconnector>
        </helpers>
    </global>
</config>