<?xml version="1.0"?>
<config>
    <modules>
        <Simi_Simiconnector>
            <version>0.1.0</version>
        </Simi_Simiconnector>
    </modules>
    <frontend>
        <routers>
            <simiconnector>
                <use>standard</use>
                <args>
                    <module>Simi_Simiconnector</module>
                    <frontName>simiconnector</frontName>
                </args>
            </simiconnector>
        </routers>
        <layout>
            <updates>
                <simiconnector>
                    <file>simiconnector.xml</file>
                </simiconnector>
            </updates>
        </layout>
        <translate>
            <modules>
                <Simi_Simiconnector>
                    <files>
                        <default>Simi_Simiconnector.csv</default>
                    </files>
                </Simi_Simiconnector>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml> 
                <args> 
                    <modules> 
                        <Simi_Simiconnector after="Mage_Adminhtml">Simi_Simiconnector_Adminhtml</Simi_Simiconnector>
                    </modules> 
                </args> 
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <simiconnector>
                    <file>simiconnector.xml</file>
                </simiconnector>
            </updates>
        </layout>
        <translate>
            <modules>
                <Simi_Simiconnector>
                    <files>
                        <default>Simi_Simiconnector.csv</default>
                    </files>
                </Simi_Simiconnector>
            </modules>
        </translate>
        <events>
            <catalog_product_save_before>
                <observers>
                    <siminotification_product_save_before>
                        <class>simiconnector/observer</class>
                        <method>sendNotificationProductChangePrice</method>
                    </siminotification_product_save_before>
                </observers>
            </catalog_product_save_before>
            <catalog_product_save_after>
                <observers>
                    <siminotification_product_save_after>
                        <class>simiconnector/observer</class>
                        <method>sendNotificationNewProduct</method>
                    </siminotification_product_save_after>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>   
    <global>
        <models>
            <simiconnector>
                <class>Simi_Simiconnector_Model</class>
                <resourceModel>simiconnector_mysql4</resourceModel>
            </simiconnector>
            <simiconnector_mysql4>
                <class>Simi_Simiconnector_Model_Mysql4</class>
                <entities>
                    <appreport>
                        <table>simiconnector_transactions</table>
                    </appreport>
                    <simicategory>
                        <table>simiconnector_simicategory</table>
                    </simicategory>
                    <banner>
                        <table>simiconnector_banner</table>
                    </banner>
                    <cms>
                        <table>simiconnector_cms</table>
                    </cms>
                    <productlist>
                        <table>simiconnector_product_list</table>
                    </productlist>
                    <visibility>
                        <table>simiconnector_visibility</table>
                    </visibility> 
                    <device>
                        <table>simiconnector_device</table>
                    </device>                    
                    <siminotification>
                        <table>simiconnector_notice</table>
                    </siminotification>
                    <history>
                        <table>simiconnector_notice_history</table>
                    </history>
                    <simibarcode>
                        <table>simiconnector_simibarcode</table>
                    </simibarcode>
                    <simivideo>
                        <table>simiconnector_videos</table>
                    </simivideo>
                    <simiproductlabel>
                        <table>simiconnector_productlabels</table>
                    </simiproductlabel>
                </entities>
            </simiconnector_mysql4>
        </models>
        <resources>
            <simiconnector_setup>
                <setup>
                    <module>Simi_Simiconnector</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </simiconnector_setup>
            <simiconnector_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </simiconnector_write>
            <simiconnector_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </simiconnector_read>
        </resources>
        <blocks>
            <simiconnector>
                <class>Simi_Simiconnector_Block</class>
            </simiconnector>
            <simicategory>
                <class>Simi_Simicategory_Block</class>
            </simicategory>
        </blocks>
        <helpers>
            <simiconnector>
                <class>Simi_Simiconnector_Helper</class>
            </simiconnector>
        </helpers>
        <events>
            <sales_quote_collect_totals_before>
                <observers>
                    <simi_connector_sales_quote_collect_totals_before>
                        <class>simiconnector/observer</class>
                        <method>sales_quote_collect_totals_before</method>
                    </simi_connector_sales_quote_collect_totals_before>
                </observers>
            </sales_quote_collect_totals_before>
        </events> 
    </global>
    <default>
        <simiconnector>
            <magestore>0</magestore>
            <check_first>0</check_first>
            <general>                                               
                <enable>1</enable>
                <upload_pem_file>0</upload_pem_file>
                <is_show_price_zero>1</is_show_price_zero>
                <is_show_all_product>1</is_show_all_product>
                <cms_shipping_condition></cms_shipping_condition>
                <show_product_type>0</show_product_type>
                <is_show_sample_data>1</is_show_sample_data>
                <base_url></base_url>
                <is_show_home_title>1</is_show_home_title>
                <is_rtl>0</is_rtl>
            </general>  
            <currency>                                           
                <thousand_separator>,</thousand_separator>
                <decimal_separator>.</decimal_separator>
                <min_number_of_decimals translate="label">0</min_number_of_decimals>
                <max_number_of_decimals translate="label">2</max_number_of_decimals>			
            </currency> 
            <notification>
                <android_app_key></android_app_key>
                <android_secret_key></android_secret_key>
                <noti_price_enable>0</noti_price_enable>
                <new_product_enable>0</new_product_enable>
                <noti_purchase_enable>0</noti_purchase_enable>
            </notification> 
            <hideaddress>
                <hideaddress_enable>0</hideaddress_enable>
                <firstname>2</firstname>
                <lastname>2</lastname>
                <email>2</email>
                <company>2</company>
                <street>2</street>
                <country_id>2</country_id>
                <region_id>2</region_id>
                <city>2</city>
                <zipcode>2</zipcode>
                <telephone>2</telephone>
                <fax>2</fax>
                <prefix>2</prefix>
                <suffix>2</suffix>
                <dob>2</dob>
                <gender>2</gender>
                <taxvat>2</taxvat>
            </hideaddress>  
            <terms_conditions>
                <enable_terms>0</enable_terms>
            </terms_conditions> 
			<instant_contact>
				<email>sales@simicart.com</email>
				<phone>84 - 04 - 3217 - 1357 (GMT+7)</phone>
				<message>84 - 04 - 3217 - 1357 (GMT+7)</message>
				<website>84 - 04 - 3217 - 1357 (GMT+7)</website>
				<icon_color>FF9900</icon_color>
			</instant_contact>
            <barcode>
                <pattern>BAR[A.4][AN.6]</pattern>
                <qrcode_pattern>QR[A.4][AN.6]</qrcode_pattern>                
            </barcode> 
            <productlabel>
                <enable>0</enable>
            </productlabel> 
            <zopim>
                <enable>1</enable>
				<account_key>3WlAvERBApxnMZGdc40no5lmvt1mJCQ8</account_key>
                <show_profile>0</show_profile>
                <name>3</name>
                <email>3</email>
                <phone>3</phone>
            </zopim>  
            <mixpanel>
                <token></token>
            </mixpanel>
        </simiconnector>  
    </default>
</config>