<?xml version="1.0"?>
<config>
    <modules>
        <Simi_Simiconnector>
            <version>0.1.0</version>
        </Simi_Simiconnector>
    </modules>
    <frontend>
        <routers>
            <simiconnector>
                <use>standard</use>
                <args>
                    <module>Simi_Simiconnector</module>
                    <frontName>simiconnector</frontName>
                </args>
            </simiconnector>
        </routers>
        <layout>
            <updates>
                <simiconnector>
                    <file>simiconnector.xml</file>
                </simiconnector>
            </updates>
        </layout>
        <translate>
            <modules>
                <Simi_Simiconnector>
                    <files>
                        <default>Simi_Simiconnector.csv</default>
                    </files>
                </Simi_Simiconnector>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml> 
                <args> 
                    <modules> 
                        <Simi_Simiconnector after="Mage_Adminhtml">Simi_Simiconnector_Adminhtml</Simi_Simiconnector>
                    </modules> 
                </args> 
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <simiconnector>
                    <file>simiconnector.xml</file>
                </simiconnector>
            </updates>
        </layout>
        <translate>
            <modules>
                <Simi_Simiconnector>
                    <files>
                        <default>Simi_Simiconnector.csv</default>
                    </files>
                </Simi_Simiconnector>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <simiconnector>
                <class>Simi_Simiconnector_Model</class>
                <resourceModel>simiconnector_mysql4</resourceModel>
            </simiconnector>
            <simiconnector_mysql4>
                <class>Simi_Simiconnector_Model_Mysql4</class>
                <entities>
                    <simicategory>
                        <table>simicategory</table>
                    </simicategory>
                    <banner>
                        <table>connector_banner</table>
                    </banner>
                    <cms>
                        <table>connector_cms</table>
                    </cms> 
                    <device>
                        <table>connector_device</table>
                    </device>                    
                    <siminotification>
                        <table>connector_notice</table>
                    </siminotification>
                    <history>
                        <table>connector_notice_history</table>
                    </history>
                </entities>
            </simiconnector_mysql4>
        </models>
        <resources>
            <simiconnector_setup>
                <setup>
                    <module>Simi_Simiconnector</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </simiconnector_setup>
            <simiconnector_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </simiconnector_write>
            <simiconnector_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </simiconnector_read>
        </resources>
        <blocks>
            <simiconnector>
                <class>Simi_Simiconnector_Block</class>
            </simiconnector>
            <simicategory>
                <class>Simi_Simicategory_Block</class>
            </simicategory>
        </blocks>
        <helpers>
            <simiconnector>
                <class>Simi_Simiconnector_Helper</class>
            </simiconnector>
        </helpers>
    </global>
    <default>
        <simiconnector>
            <magestore>0</magestore>
            <check_first>0</check_first>
            <android_key>AIzaSyAi4qYNCgQ13VPDRtE_GYa0Bw7ZH-Ix5NU</android_key>
            <android_sendid>518903118242</android_sendid>
            <general>                                               
                <enable>1</enable>
                <upload_pem_file>0</upload_pem_file>
                <is_show_price_zero>1</is_show_price_zero>
                <is_show_all_product>1</is_show_all_product>
                <cms_shipping_condition></cms_shipping_condition>
                <is_reload_payment_method>0</is_reload_payment_method>
                <show_product_type>0</show_product_type>
            </general>           
        </simiconnector>  
        <spotproduct>
            <general>
                <enable>1</enable>
                <best_seller>1</best_seller>  
                <most_view>0</most_view>
                <new_update>0</new_update>  
                <recent_add>1</recent_add>  
            </general>
        </spotproduct>                             
    </default>
</config>