<?xml version="1.0"?>
<config>
    <tabs>
        <simiconnector translate="label">
            <label>SimiCart Connector</label>
            <sort_order>400</sort_order>
        </simiconnector>
    </tabs>
    <sections>
        <simiconnector translate="label" module="simiconnector">
            <class>separator-top</class>
            <label>General Settings</label>
            <tab>simiconnector</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>		
                        <enable translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </enable>						
                    </fields>				
                </general>
            </groups>
        </simiconnector>
        <spotproduct translate="label" module="simiconnector">
            <class>separator-top</class>
            <label>Spot Products</label>
            <tab>simiconnector</tab>
            <frontend_type>text</frontend_type>
            <sort_order>99</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>Choose Products To Show On App</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>		
                        <enable translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </enable>
                        <best_seller translate="label">
                            <label>Best Seller</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>2</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </best_seller>
                        <most_view translate="label">
                            <label>Most View</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>3</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </most_view>							
                        <new_update translate="label">
                            <label>Newly Updated</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>4</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </new_update>	
                        <recent_add translate="label">
                            <label>Recently Added</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>5</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </recent_add>	
                    </fields>				
                </general>
            </groups>
        </spotproduct>        
    </sections>
</config>