<?xml version="1.0"?>
<config>
    <tabs>
        <simiconnector translate="label">
            <label>SimiCart Connector</label>
            <sort_order>400</sort_order>
        </simiconnector>
    </tabs>
    <sections>
        <simiconnector translate="label" module="simiconnector">
            <class>separator-top</class>
            <label>General Settings</label>
            <tab>simiconnector</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>		
                        <enable translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </enable>
                        <base_url translate="label">
                            <label>Base URL</label>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>99</sort_order>                            
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>  
                            <comment>eg. http://simicart.com/, leave it blank if you want to use default value from Building Dashboard</comment>												
                        </base_url>	                        
                        <upload_pem_file translate="label tooltip comment">
                            <label>Upload PEM file</label>
                            <comment>It use to send notification to IOS</comment>
                            <frontend_type>file</frontend_type>
                            <sort_order>199</sort_order>
                            <backend_model>adminhtml/system_config_backend_file</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">simi/simicart/pem/ios</upload_dir>
                            <base_url type="media" scope_info="1">admin-config-uploads</base_url>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </upload_pem_file>		
                        <is_show_price_zero translate="label">
                            <label>Show option price if it's $0.00?</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>299</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                            
                        </is_show_price_zero>	      
                        <is_show_all_product translate="label">
                            <label>Show "All Products" link in Category?</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>399</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                            
                        </is_show_all_product>	
                        <cms_shipping_condition translate="label">
                            <label>Show CMS content in product detail</label>
                            <frontend_type>text</frontend_type>  
                            <sort_order>499</sort_order>                         
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>  
                            <comment>Please enter its CMS ID SimiCart Connector/CMS</comment>												
                        </cms_shipping_condition>		
                        <is_reload_payment_method translate="label">
                            <label>Update order review when select payment method</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>599</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                            
                        </is_reload_payment_method>
                        <is_show_sample_data translate="label">
                            <label>Show Sample Data on Home Screen</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>699</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                            
                        </is_show_sample_data>		
                        <show_product_type translate="label">
                            <label>View products default</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>799</sort_order>
                            <source_model>simiconnector/config_source_productsviewtype</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_product_type>
                        <rtl_country translate="label">
                            <label>Use RTL language</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>899</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>                        
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                            
                        </rtl_country>
                        <categories_in_app translate="label">
                            <label>Display categories on app</label>
                            <frontend_type>label</frontend_type>
                            <sort_order>999</sort_order>
                            <frontend_model>simiconnector/adminhtml_system_config_category_categorytree</frontend_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </categories_in_app>
                    </fields>				
                </general>
                <currency translate="label">
                    <label>Currency Display Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>99</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>		                       
                        <thousand_separator translate="label">
                            <label>Thousand Separator</label>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>1</sort_order>                            
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>  												
                        </thousand_separator>
                        <decimal_separator translate="label">
                            <label>Decimal Separator</label>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>99</sort_order>                            
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>  												
                        </decimal_separator>
                        <min_number_of_decimals translate="label">
                            <label>Minimum Number of Decimals</label>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>199</sort_order>                            
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>  												
                        </min_number_of_decimals>
                        <max_number_of_decimals translate="label">
                            <label>Maximum Number of Decimals</label>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>299</sort_order>                            
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>  												
                        </max_number_of_decimals>
                    </fields>				
                </currency>
            </groups>
        </simiconnector>
        <spotproduct translate="label" module="simiconnector">
            <class>separator-top</class>
            <label>Spot Products</label>
            <tab>simiconnector</tab>
            <frontend_type>text</frontend_type>
            <sort_order>99</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>Choose Products To Show On App</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>		
                        <enable translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </enable>
                        <best_seller translate="label">
                            <label>Best Seller</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>2</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </best_seller>
                        <most_view translate="label">
                            <label>Most View</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>3</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </most_view>							
                        <new_update translate="label">
                            <label>Newly Updated</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>4</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </new_update>	
                        <recent_add translate="label">
                            <label>Recently Added</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>5</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </recent_add>	
                    </fields>				
                </general>
            </groups>
        </spotproduct>        
    </sections>
</config>